{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Category Details</h1>

        <div class="card">
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">Id</th>
                            <td>{{ category.id }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Name</th>
                            <td>{{ category.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>{{ category.description }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-between mt-4">
                    <a href="{{ path('app_category_index') }}" class="btn btn-outline-secondary">
                        <i class="bi bi-arrow-left"></i> Back to list
                    </a>

                    <div>
                        <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-outline-primary me-2">
                            <i class="bi bi-pencil"></i> Edit
                        </a>

                        {{ include('category/_delete_form.html.twig', { 'attr': {'class': 'd-inline'} }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
